<section class="main">
    <body>
    <form>
        <h3>Register Here</h3>

        <label for="fullname">Full Name</label>
        <input type="text" placeholder="Full Name" id="fullname">
        <label for="email">Email</label>
        <input type="text" placeholder="Email Address" id="email">
        <label for="username">Username</label>
        <input type="text" placeholder="Desired Username" id="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
        <label for="password2">Confirm Password</label>
        <input type="password2" placeholder="Confirm Password" id="password2">
        <button>Register</button>
    </form>
</body>
</section>